#backgroundHome{
    -fx-background-image: url("../photos/white.jpg");
    -fx-background-size: cover;
}

/*#menuContainer {
    -fx-background-color: #ffffff;
    -fx-border-radius: 7px;
    -fx-background-radius: 7px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 15, 0, 0, 5);
    -fx-border-color: #d1d1d1;
    -fx-border-width: 1px;
}*/

#backgroundBar {
    -fx-background-color: #0068FF;
}

#homeTitle {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
}

#textoCobrancasPagas, #textoCobrancasPendentes, #textoValorTotal{
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #1766d3;
}

#cobrancasPagas, #cobrancasPendentes, #valorTotal{
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #1766d3;
}
