.button {
    -fx-background-color: #0068ff;
    -fx-text-fill: #ffffff;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 10px;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.button:hover {
    -fx-background-color: #9BA4B5;
}

.button:pressed {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
    -fx-effect: dropshadow(gaussian, greenyellow, 4, 0, 0, 0);
}

.criticalButton {
    -fx-background-color: #ff4d4d;
    -fx-text-fill: #ffffff;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 10px;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.criticalButton:hover {
    -fx-background-color: #e60000;
}

.errorLabel {
    -fx-text-fill: red;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
}

#titleLabel {
    -fx-font-size: 32px;
    -fx-font-weight: bold;
    -fx-text-fill: #1766d3;
}

