#backgroundHome{
    -fx-background-image: url("../photos/white.jpg");
    -fx-background-size: cover;
}

#homeTitle {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffff;
    -fx-padding: 10px;
}

#buttonOption {
    -fx-background-color: #0068ff;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

#buttonOption:hover {
    -fx-background-color: #f0f1f5;
    -fx-text-fill: #0068ff; /* Texto mais claro no hover */
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 8, 0, 0, 3);
    -fx-cursor: hand; /* Indicador de cursor no hover */
}
