#backgroundHome{
    -fx-background-image: url("../photos/white.jpg");
    -fx-background-size: cover;
}

#homeTitle {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffff;
    -fx-padding: 10px;
}

#header {
    -fx-background-color: linear-gradient(to right, #0068ff, #0055cc);
}

#buttonOption {
    -fx-background-color: linear-gradient(to right, #0068ff, #0055cc);
    -fx-border-radius: 20px;
    -fx-background-radius: 50px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 5, 0, 0, 2);
}

#buttonOption:hover {
    -fx-background-color: linear-gradient(to right, #0055cc, #0033aa);
    -fx-text-fill: #f0f0f0; /* Texto mais claro no hover */
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 8, 0, 0, 3); /* Aumentar sombra no hover */
    -fx-cursor: hand; /* Indicador de cursor no hover */
}

#criticalButton:hover {
    -fx-background-color: linear-gradient(to right, #cc0000, #990000);
    -fx-text-fill: #f8f8f8;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 8, 0, 0, 3);
    -fx-cursor: hand;
}

